@import "tailwindcss";

:root {
  --background-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 255, 255, 255;
    --foreground-rgb: 0, 0, 0;
  }
}

body {
  background: rgb(var(--background-rgb));
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
